/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
node_modules/
figwheel_server.log
.sass-cache/
.idea/
projekt_bd_frontend.iml
out/
resources/public/assets/javascripts/cljs-out